*{
     margin: 0;  
     padding:0;
     box-sizing: border-box;
}

body{
    overflow: auto;
    background-color:rgb(8, 8, 76) ;
}
.container{
     position: relative;
     left:20vw;
     top:25vh;
     height: 40vh;
     width:30vw;
     color:white;
     
}



.header{
   
    height: 18vh;
 

    border-bottom: 1px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    
}

#second{
    color:green;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large
}


.input_container{
     margin-top: 15px;
     margin-bottom: 15px;
     display: flex;

}

.input_container input{
    height: 40px;
    width:93%;
    border-radius: 5px;
    outline: none;
    padding-left: 1vw;
}

#copyBtn{
    height:28px;
    position: relative;
    right: 3vw;
    top:1vh;
    border: none;
    cursor: pointer;
}

#copyBtn:hover{
    transform: scale(1.03);
}
.input_container img{
    height:100%;
    
}




.footer img{
     height: 30px;
     position: relative;
     right:16.7vw;
     top:1.6vh;
     
}

.footer button{
    height: 39px;
    width:17vw;
    font-size: large;
    background-color: rgb(6, 74, 6);
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
   
}






  
